
form .form-actions {
	padding: 20px;
    margin: 0;
    border-top: 1px solid #e7ecf1;
}
.table-actions {
	padding: 20px 0;
    margin: 0;
}
table tbody td .formattype-state {
	display:inline-block;
	width:100%;
	padding:5px;
}
table tbody td .formattype-progress {
	margin-bottom:0;
}
.form-inline .form-actions {
	display:inline-block;
	padding: 0 5px;
    margin: 0;
    border-top: 0;
}
.form-inline .form-body {
	display:inline-block;
}
.progress.progress-bar-hg {
	height: 100px;
}
.progress.progress-bar-hg .progress-bar{
    padding: 0;
    font-size: 24px;
    line-height: 100px;
}
.progress.progress-bar-lg {
	height: 46px;
}
.progress.progress-bar-lg .progress-bar{
    padding: 0;
    font-size: 18px;
    line-height: 46px;
}
.progress.progress-bar-sm {
	height: 24px;
}
.progress.progress-bar-sm .progress-bar{
    padding: 0;
    font-size: 12px;
    line-height: 24px;
}
.progress.progress-bar-xs {
	height: 10px;
}
.progress.progress-bar-xs .progress-bar{
    padding: 0;
    font-size: 0px;
    line-height: 10px;
}